<!DOCTYPE html>
<html>
<head>
    <title>This is the POi</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"></link>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")"></link>
</head>
<body>
        <h2></h2>
        <img class="displayed-centre" src="@routes.Assets.at("images/POi.png")">
        <br>

        <form action="/login" method="POST">
            <div class="textBoxHolder">
                <p>
                    <input id="username" type="text" placeholder="Username" autofocus required>
                </p>
                <p>
                    <input id="password" type="password" placeholder="Password" required>
                </p>
            </div>
            <div class="buttonHolder">
                <p>
                    <input type="submit" value="Log in" title="Search">
                </p>
            </div>
        </form>

</body>
</html>