@(form: Form[(String,String)])

<!DOCTYPE html>
<html>
<head>
    <title>This is the POi</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"></link>
    <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")"></link>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
                <img src="@routes.Assets.at("images/POi.png")">
        </div>
    </div>

    <div class="row">
        <div class="span4 offset4 well">
            <legend>Please Sign In</legend>
            <!--<form action="/login" method="POST">-->
            @helper.form(routes.LoginController.login) {

                <div class="textBoxHolder">
                    <p>
                        <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value" autofocus required>
                    </p>
                    <p>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </p>
                </div>

                @form.globalError.map { error =>

                    <div class="has-error">
                        <p class="control-label">
                            @error.message
                        </p>
                    </div>
                }

                <div class="buttonHolder">
                    <p>
                        <input type="submit" value="Log in" title="Search">
                    </p>
                </div>

            }
            <!--</form>-->
        </div>
    </div>
</div>

</body>
</html>