@(categories: List[PoiCategory])
@import helper._

<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>

<body onload="getLocation()">

<h2>Your current location is...</h2>
<span id="position"></span>
<br>
<span id="mapholder"></span>

<script>
    alert('hello');
    var pos=document.getElementById("position");
    var map=document.getElementById("mapholder");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }
        else{pos.innerHTML="Geolocation is not supported by this browser.";}
    }

    function showPosition(position) {
        pos.innerHTML="Latitude: " + position.coords.latitude +
                  "<br>Longitude: " + position.coords.longitude;

        var latlon=position.coords.latitude+","+position.coords.longitude;
        var img_url="http://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=16&size=400x300&sensor=false";
        map.innerHTML="<img src='"+img_url+"'>";
    }


    function showError(error)
    {
    switch(error.code)
    {
    case error.PERMISSION_DENIED:
    x.innerHTML="User denied the request for Geolocation."
    break;
    case error.POSITION_UNAVAILABLE:
    x.innerHTML="Location information is unavailable."
    break;
    case error.TIMEOUT:
    x.innerHTML="The request to get user location timed out."
    break;
    case error.UNKNOWN_ERROR:
    x.innerHTML="An unknown error occurred."
    break;
    }
    }

</script>


<h3>Select your POi from below categories</h3>

     <div class="buttonHolder">
            @categories.map  { category =>
                @form(routes.PoiController.getPoiCollectionForCategory(category.name)) {
                        <input type="submit" value=@category.name>
                }
            }
     </div>

</body>
</html>