@(poiCategory: String)

<!DOCTYPE html>

<html>
<head>
    <title>List of Point of Intersts</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
<h2>
    List of POis for the selected category...<h1>@poiCategory</h1>
</h2>

</body>
</html>
